body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 30;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form h2 {
    margin-bottom: 20px;
}

#login-form div {
    margin-bottom: 10px;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff2a00;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #b34500;
}